<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>postgres_fdw-install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>postgres_fdw.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF8BEEE21FD1E500003A7AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8BEEFA1FD1EBD0003A7AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8BEF0D1FD1EF5D003A7AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8BEFA71FD2C170003A7AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
